@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}
#header {
  width: 100%;

  z-index: 100;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #081b29;
  flex-direction: row;
  height: 60px;
}
.navbar div {
  margin: 10px;
}
.logo{
  padding-bottom:2em ;
  ;
}
.logo a,
h3 {
  color: white;
  font-size: 25px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
.logo h3:hover {
  transition: 1s;
  color: #0ef;
}
.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  display: inline-block;
  margin-left: 10vh;
}

.menu ul li a {
  position: relative;
  color: white;
  font-weight: 550;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  padding: 5px 0;
}
.menu-bar {
  font-size: 30px;
  color: white;
  cursor: pointer;
  display: none;
}
.menu ul li a::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 3px;
  background-color: #0ef;
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 1s ease-in-out;
}

.menu ul li a:hover::before,
.menu ul li a.active::before {
  transform: scaleX(1);
  transform-origin: left;
}

.menu ul li a:hover {
  color: #0ef;
  transition: 1s;
}

.socialIcons a {
  padding: 0 10px;
  color: white;
  font-size: 22px;
}
.socialIcons a:hover {
  color: #0ef;
  transition: 1s;
}
/* hero section styling */
#hero-section {
  width: 100%;
  background-color: #081b29;
}
.hero-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-direction: row;
}
.hero-content {
  width: 50%;
  margin-top: 50px;
}
.hero-intro {
  color: white;
  font-size: 40px;
  margin-left: 10px;
  font-weight: 550;
}
.hero-name {
  color: white;
  font-size: 65px;
  margin-left: 10px;
  font-weight: 550;
}
.hero-para {
  color: white;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}
.hero-btn {
  color: #0ef;
  margin-left: 0;
  padding: 15px;
  font-size: 20px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
.hero-btn:hover {
  color: white;
  transition: 0.3s;
}
.hero-circle {
  width: 400px;
  height: 400px;
  background-color: rgb(10, 224, 240);
  border-radius: 50%;
  margin-top: 5em;
  position: relative;
  overflow: hidden;
  margin-bottom: 5em;
  flex-shrink: 2;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
/* About-section */
#AboutSection {
  width: 100%;
  background-color: #081b29;
}
.About-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 4em;
}
.about-skill-content {
  width: 50%;
  margin-left: 2em;
}
.about-content {
  color: white;
}
.about-heading {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 550;
  color: #0ef;
}
.about-para {
  margin-top: 5em;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}
.br-about{
  display: none;
}
.about-skills {
  margin-top: 2em;
}
.skills {
  align-items: center;
}
.skill-content {
  margin-top: 30px;
  max-width: 500px;
  flex-shrink: 1;
}
.name {
  margin: 10px 0;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #0ef;
}
.skill-bar {
  height: 10px;
  background-color: white;
  border-radius: 3px;
}
.per {
  height: 10px;
  background-color: #0ef;
  position: relative;
  border-radius: 3px;
  color: white;
}
.per::before {
  content: attr(per);
  position: absolute;
  bottom: 20px;
  right: 0;
  font-size: 20px;
  font-weight: 600;
}
.skill-experince {
  width: 50%;
}
.para-exp {
  color: white;
  font-size: 15px;
  font-weight: 100;
  font-family: "Poppins", sans-serif;
}

.exp-heading {
  font-size: 400px;
  color: #0ef;
}
.exp-text {
  margin-top: 80px;
}
.exp-para {
  margin-top: 10em;
}
.exp-yea {
  font-size: 40px;
  font-weight: 500;
}
.exp-text {
  display: flex;
  justify-content: flex;
  align-items: center;
}
.exp-about a {
  color: #0ef;
  font-size: 25px;
  margin-top: 10em;
}
.exp-about a:hover {
  color: white;
  transition: 0.3s;
}

/* service-stying */
#service-section {
  width: 100%;
  background-color: #0a2030;
}
.main-heading {
  text-align: center;
  color: #0ef;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  align-content: center;
}
.main-heading h2 {
  padding-top: 1em;
}
.service-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 4em;
}
.ser-heading {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  color: #0ef;
  margin-left: 2.3em;
  font-size: 600;
}
.ser-para {
  color: white;
  margin-right: 2em;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 100;
}
.service-container2 {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  padding-bottom: 5em;
}

.web-developer {
  background-color: #0ef;
  width: 250px;
  height: 350px;
  border: 2px solid #081b29;
  margin-left: 2em;
  transition: transform 0.3s;
  margin-top: 5em;
}
.web-developer i,
h4,
p {
  padding: 15px;
}
.web-developer i {
  font-size: 40px;
  font-weight: 100;
}
.web-developer h4 {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}
.web-developer:hover {
  background-color: rgba(5, 121, 129, 0.116);
  transition: 0.5s;
  cursor: pointer;
  transform: translateY(-10px);
  color: white;
}

/* portfolio styling*/

#portfolio {
  width: 100%;
  background-color: #081b29;
}
.portfolio-heading {
  text-align: center;
  color: #0ef;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  align-content: center;
}
.portfolio-heading h2 {
  padding-top: 1em;
}
.portfolio-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 5em;
}
.port-heading {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  color: #0ef;
  margin-left: 2.3em;
  font-size: 600;
}
.port-para {
  color: white;
  margin-right: 2em;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 100;
}
.menu-two {
  display: inline;
  flex-direction: row;
  justify-content: center;
  margin-top: 5em;
}
.unordered {
  display: flex;
  justify-content: center;
  margin-top: 4em;
}
.unordered li,
a {
  list-style: none;
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  padding-left: 2em;
}
.unordered a:hover {
  color: #0ef;
  transition: 0.5s;
}


.portfolio-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 40px;
  justify-content: center;
}

.portfolio-item {
  background-color: #282C35;
  overflow: hidden;
  flex: 1 1 calc(50% - 40px);
  max-width: calc(50% - 40px);
  display: flex;
  flex-direction: column;
}

.item-image img {
  width: 100%;
  height: auto;
}
.portfolio-item:hover{
  transition: 0.5s;
  cursor: pointer;
  transform: translateY(-10px);
}

.item-info {
  background-color: #00C2D1;
  color: #000;
  padding: 20px;
}

.item-info h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  margin-left: 0%;
}

.item-info p {
  font-size: 1rem;
  font-weight: bold;
  padding: 0%;
}

/* Experince styling */

#Experinces {
  width: 100%;
  background-color: #0a2030;
}
.experince-heading {
  text-align: center;
  color: #0ef;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  align-content: center;
}
.experince-heading h2 {
  padding-top: 1em;
}
.exper-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 5em;
}
.exper-heading {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  color: #0ef;
  margin-left: 2.3em;
  font-size: 600;
}
.exper-para {
  color: white;
  margin-right: 2em;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 100;
}

.experince-items {
  display: flex;
  align-items: center;
  display: inline-block;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  align-content: center;
  font-family: "Poppins", sans-serif;
}
.exp-item-one {
  width: 40%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
  display: inline-block;
  flex-direction: row;
}
.exp-item-two {
  width: 40%;
  align-items: center;
  margin-bottom: 10px;
  flex-direction: row-reverse;
  display: flex;
  justify-content: space-around;
  display: inline-block;
  border-radius: 50px;
  margin-left: 15em;
}

.exp-content {
  padding: 10px;

  margin: 40px;

  color: white;
  border-radius: 5px;
}
.company {
  font-size: 12px;
  color: #0ef;
  padding-left: 1em;
  font-family: "Poppins", sans-serif;
  bottom: 0%;
}
.exp-skill {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.date {
  padding-left: 1em;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  color: #0ef;
}
.experince-para {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

/* testimomial section */
#testinmonial-section {
  width: 100%;
  background-color: #081b29;
}
.testimonial-heading {
  text-align: center;
  color: #0ef;
  padding-top: 2em;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  align-content: center;
}
.testmonial-container {
  width: 100%;
  background-color: rgba(5, 121, 129, 0.116);
  margin-top: 2em;
}
.testimonial-content {
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: center;
}
.testimonial-content p {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  margin-top: 10em;
}
.test-name {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}
.test-name i {
  font-size: 8px;
  margin-bottom: 1px;
  color: #0ef;
}
.test-name h4 {
  font-size: 15px;
  color: white;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.test-img {
  width: 40px;
  border-radius: 50%;
}
/* blog styling */
#Blog-section {
  width: 100%;
  background-color: #081b29;
}
.blog-heading {
  text-align: center;
  color: #0ef;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  align-content: center;
}
.blog-heading h2 {
  padding-top: 1em;
}
.blog-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 5em;
}
.blog-heading {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  color: #0ef;
  margin-left: 2.3em;
  font-size: 600;
}
.blog-para {
  color: white;
  margin-right: 2em;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 100;
}

.blog-container-two {
  margin-top: 5em;
  display: flex;
  justify-content: center;
}

.blog-card {
  background-color: #0ef;
  width: 380px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  margin-left: 2em;
}

.blog-card:hover {
  transform: translateY(-10px);
}

.blog-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.blog-content {
  padding: 20px;
}

.blog-content h3 {
  font-size: 20px;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #081b29;
}

.blog-date {
  display: block;
  margin: 10px 0;
  color: white;
  font-family: "Poppins", sans-serif;
}

.blog-content p {
  color: #081b29;
  line-height: 1.6;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 15px;
}

.read-more {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.read-more:hover {
  text-decoration: underline;
  color: #081b29;
  transition: 1s;
}

/* form section stlying */
#form-section {
  width: 100%;
  background-color: #0a2030;

  margin-top: 10em;
}
.form-container {
  width: 100%;
  justify-content: space-around;
  display: flex;
  align-content: center;
  align-items: center;
}
.contact {
  width: 50%;
  height: 400px;
}
.contact-contect {
  padding: 6em;
}
.contact-contect p {
  font-size: 30px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 800;
  color: white;
}
.contact-contect span {
  font-size: 15px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: #0ef;
  padding: 1em;
}
.contact-contect i {
  margin-top: 10px;
  font-size: 50px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 600;
  padding: 0.3em;
}
.contact-contect i:hover {
  color: #0ef;
  transition: 1s;
}

.contact-form {
  margin-top: 2em;
  width: 50%;
  justify-content: space-around;
}
.form {
  width: 100%;
  display: flex;
  justify-content: center;
}
.Touch {
  font-size: 40px;
  font-weight: 700;
  color: #0ef;
  margin-bottom: 1em;
  margin-left: 3.5em;
  font-family: "Poppins", sans-serif;
}

.input {
  margin-bottom: 25px;
  position: relative;
}

input,
textarea {
  width: 100%;
  padding: 10px 50px;
  outline: 0;
  border: none;
  border-bottom: 1px solid #0ef;
  background-color: #fff;
  background-color: transparent;
  font-size: 15px;
  resize: none;
}

input:focus ~ label,
input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  top: -30px;
  font-size: 14px;
  transition: 0.2s;
}
label {
  height: 100%;
  padding: 10px;
  position: absolute;
  left: 0;
  top: 0;
  cursor: text;
  color: #0ef;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

.bton {
  background-color: rgb(0, 152, 255);
  padding: 15px 30px 15px 30px;
  color: white;
  font-size: 15px;

  border: none;
}
.bton:hover {
  background-color: #225479;
  color: #0ef;
  transition: 1s;
}
/* media queries */

@media screen and (max-width: 767px) {
  .logo a,
  h3 {
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
  }
  /* .menu{
  display: none;
} */
  .menu {
    display: none;
  }
  .navbar {
    justify-content: space-between;
  }

  .socialIcons {
    display: none;
  }
  .menu-bar {
    font-size: 30px;
    display: block;
  }
  .menu-bar:hover {
    color: #0ef;
    transition: 1s;
  }

  .menu ul li a::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 3px;
    background-color: #081b29;
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 1s ease-in-out;
  }
  .menu ul li a:hover::before,
  .menu ul li a.active::before {
    transform: scaleX(1);
    transform-origin: left;
  }
  /* hero-section */

  .hero-img{
    display: none;
  }
  .hero-circle {
    display: none;
  }
  .hero-intro {
    color: white;
    font-size: 25px;
    font-weight: 500;
    
  }
  .hero-name {
    color: white;
    font-size: 30px;
    font-weight: 550;
   
  }
  .hero-content {
    width: 100%;
    margin-top: 10px;
  }
  .hero-btn {
    font-size: 12px;
  }
  .hero-content br{
    display: none;
  }
  .hero-para{
    font-weight: 300;
    padding: 10px 15px 5px 15px;
    font-size: 14px;
  }
  /* about section */
  .About-container {
    width: 100%;
    display: block;
    
   
  }
  .exp-heading {
    font-size: 200px;
    color: #0ef;
  }
  .exp-yea {
    font-size: 15px;
    font-weight: 500;
  }
  .exp-text {
    margin-top: auto;
  }
  .exp-para {
    margin-top: 5em;
  }
  .para-exp {
    font-size: 16px;
    font-weight: normal;
    font-weight: 500;
    padding: 2em 0 0 0;
    font-family: "Poppins", sans-serif;
  }
 
  .about-heading {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 550;
    margin-left: 10px;
  }
  .about-h2{
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    
  }
  .about-para {
    margin-top: auto;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    display: inline-block;
}
.br{
  display: none;
}
.about-content {
  width: 100%;
  margin-left: auto;
}
.about-br{
  display: none;
}
.br-about{
  display: none;
}
.exp-para-br{
  display: none;
}
.about-skill-content {
  width: 100%;
  margin-left: auto;
}
.skill-content {
  margin-top: 10px;
  max-width: 300px;
margin-left: 15px;
}
.skill-bar {
  height: 5px;
  background-color: white;
  border-radius: 3px;
}
.per {
  height: 5px;
  background-color: #0ef;
  position: relative;
  border-radius: 3px;
  color: white;
}
.name {
  margin: 5px 0;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: #0ef;
}
.per::before {
  content: attr(per);
  position: absolute;
  bottom: 10px;
  right: 0;
  font-size: 15px;
  font-weight: 500;
}
/* service-section */
.main-heading {
  text-align: center;
  color: #0ef;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  align-content: center;
}
.service-container {
  display: block;
  flex-direction: row;
  margin-top: 10px;
  

}
.ser-heading {
  font-size: 13px;
  margin-left: 15px;
  
}

.ser-para {
  font-size: 13px;
  font-weight: 100;
  margin-left: 10px;
  & .ser-br{
    display: none;
  }
}
.service-container2 {
  width: 100%;
  justify-content: space-around;
}

.web-developer {
  width: 250px;
  height: auto;
  margin-left: 0;
  padding-bottom: 2em;
  margin-top: 2em;
}
.web-developer i {
  font-size: 30px;
  font-weight: 100;
}
.web-developer h4 {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}
.web-developer i, h4, p {
  padding: 10px;
}
/* portfolio section */
.port-heading-h2{
  font-size: 30px;
}
.portfolio-container {
  display: block;
  justify-content: space-between;
  margin-top: 10px;
  & br{
    display: none;
  }
}
.port-para {
  color: white;
  margin-right: auto;
  margin-left: 8px;
  font-size: 13px;
}
.unordered {
display: flex;
justify-content: center;
margin-top: auto;
margin-top: 20px;
}
.port-heading {
  font-size: 14px;
  color: #0ef;
  margin-left: 15px;
}
.unordered li,
a {
  list-style: none;
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  padding-left: 5px;
}

.portfolio-item {
  flex: 1 1 100%;
  max-width: 90%;
}
.item-info {
  background-color: #00C2D1;
  color: #000;
  padding: 10px;
  text-align:start;
}
.item-info h3 {
  font-size: 1.3rem;
  margin-bottom: 0;
}
.item-info p {
  padding-left: 0%;
}
/* Experinces */
.experince-heading h2 {
  font-size: 25px;
  padding-top: 1em;
}
.exper-container {
  display: block;
  justify-content: center;
  margin-top: 1em;
}
.exper-heading {
  font-size: 12px;
  padding-left: 15px;
  color: #0ef;
  margin-left: 0px;
  font-size: 500;
}
.exper-para {
  color: white;
  margin-right: 0;
  margin-left: 8px;
  font-size: 11px;
  font-weight: normal;
}

.company {
  font-size: 10px;
}
.date {
  font-size: 10px;
}
.exp-skill {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.experince-para {
  font-size: 13px;
  font-family: "Poppins", sans-serif;
}
.exp-content {
  padding: 10px;
  margin: 20px 40px;
  color: white;
  border-radius: 5px;
}
.exp-item-one {
  width: 100%;
  margin-bottom: 10px;
  display: block;
  justify-content: center;
  & br{
    display: none;
  }
}
.exp-item-two {
  width: 100%;
  margin-bottom: 10px;
  display: block;
  justify-content: center;
  margin-left: 0;
  & br{
    display: none;
  } 
}
/* testimoials */
.testimonial-heading {
  color: #0ef;
  font-size: 18px;
  font-weight: 500;
  padding-top: 2em;
}
.testimonial-content{
  padding-bottom: 1em;
}
.testimonial-content p {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  margin-top: 2em;
  & br{
    display: none;
  }
}
.test-name {
   margin-top: 0; 
   display: flex;
   align-items: center;
   justify-content: center;
   & h4{
    font-size: 12px;
   }
   & .test-img{
    width: 35px;
   }
}
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .logo a,
  h3 {
    color: white;
    font-size: 23px;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
  }
  /* .menu{
  display: none;
} */
  .navbar {
    justify-content: space-between;
  }
  .menu {
    display: none;
  }

  .socialIcons {
    display: none;
  }
  .menu-bar {
    font-size: 35px;
    display: block;
  }
  .menu-bar:hover {
    color: #0ef;
    transition: 1s;
  }

  .menu ul li a::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 3px;
    background-color: #081b29;
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 1s ease-in-out;
  }
  .menu ul li a:hover::before,
  .menu ul li a.active::before {
    transform: scaleX(1);
    transform-origin: left;
  }
  /* hero section */
  
  
  .hero-circle {
    width: 250px;
    height: 250px;
    background-color: rgb(10, 224, 240);
    border-radius: 50%;
    margin-top: 5em;
    position: relative;
    overflow: hidden;
    margin-bottom: 5em;
    flex-shrink: 2;
  }
  .hero-img{
    margin-right: 1em;
  }
  .hero-intro {
    color: white;
    font-size: 30px;
    
  }
  .hero-name {
    color: white;
    font-size: 50px;
  }
  .hero-content {
    width: 100%;
    margin-top: 30px;
  }
  .hero-btn {
    
    font-size: 18px;
  }
  .hero-content br{
    display: none;
  }
  .hero-para{
    padding: 5px 15px;
  }
/* ABOUT SECTION */
.main-heading h2{
  padding-top: 0%;
  font-size: 40px;
}

  .about-para {
    margin-top: auto;
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    & .br{
      display: none;
    }
    & .exp-para-br{
      display: none;
    }
  }

.about-skill-content {
  margin-left: auto;
}
.para-exp{
  margin-top: 2.5em;
  margin-left: 2em;
}
.about-br{
  display: none;
}
.br-about{
  display: block;
  
}
.name {
  margin: 10px 0;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: #0ef;
}
.skill-bar {
  height: 6px;
  background-color: white;
  border-radius: 3px;
}
.per {
  height: 6px;
  background-color: #0ef;
  position: relative;
  border-radius: 3px;
  color: white;
 
}
.per::before {
  content: attr(per);
  position: absolute;
  bottom: 20px;
  right: 0;
  font-size: 15px;
  font-weight: 500;
}
.skill-content {
  margin-top: 10px;
  max-width: 300px;
margin-left: 15px;
}
.exp-yea{
  font-size: 20px;
}
.exp-text {
  margin-top: 2em;
}
.about-heading {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 550;
  margin-left: 10px;
  color: #0ef;
}
.exp-heading {
  font-size: 380px;
  color: #0ef;
  margin-left:40px;
}
/* service-section */

.service-h2{
  margin-top: 20px;
}
.service-container {
  display: block;
  text-align: center;
  margin-top: 20px;
}
.ser-heading {
  font-size: 15px;
  margin-left: auto;
}
.ser-para {
  margin-right: auto;
  font-size: 16px; 
}
.web-developer {
  width: 250px;
  height: auto;
  justify-content: space-around;
  margin-left: 2em;
  padding-bottom: 2em;
  margin-top: 2em;
}
.web-box1{
  margin-left: 0%;
}
.web-developer i {
  font-size: 30px;
}
/* portfolio section */
.port-heading-h2{
  font-size: 35px;
}
.portfolio-container {
  display: block;
  justify-content: space-between;
  margin-top: 10px;
  text-align: center;
  align-items: center;
  align-content: center;
  & br{
    display: none;
  }
}
.port-para {
  font-size: 14px;
  width: 60%;
  margin-left: 12em;
}

.unordered {
display: flex;
justify-content: center;
margin-top: auto;
margin-top: 20px;
}
.port-heading {
  font-size: 13px;
  margin-top: 20px;
  color: #0ef;
  margin-left: auto;
}
.unordered li,
a {
  list-style: none;
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  padding-left: 10px;
}

.portfolio-item {
  flex: 1 1 100%;
  max-width: 70%;
}
.item-info {
  background-color: #00C2D1;
  color: #000;
  padding: 10px;
  text-align:start;
}
.item-info h3 {
  font-size: 1.3rem;
  margin-bottom: 0;
}
.item-info p {
  padding: 10px 0;
  font-size: 15px;
}
/* Experinces */
.experince-heading h2 {
  font-size: 35px;
  padding-top: 1em;
}
.exper-container {
  display: block;
  text-align: center;
  justify-content: center;
  margin-top: 2em;
}
.exper-heading {
  font-size: 15px;
  color: #0ef;
  margin-left: 0px;
  font-size: 500;
}
.exper-para {
  color: white;
  margin-right: 0;
  font-size: 13px;
  font-weight: normal;
}
.exp-content {
  padding: 10px;
  margin: 20px 40px;
  color: white;
  border-radius: 5px;
}
.exp-item-one {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  & br{
    display: none;
  }
}
.exp-item-two {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  margin-left: 0;
  & br{
    display: none;
  }
}
/* testimoials */
.testimonial-heading {
  color: #0ef;
  font-size: 22px;
  font-weight: 500;
  padding-top: 2em;
}
.testimonial-content{
  padding-bottom: 1em;
}
.testimonial-content p {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  margin-top: 2em;
  & br{
    display: none;
  }
}
.test-name {
   margin-top: 0; 
   display: flex;
   align-items: center;
   justify-content: center;
   & h4{
    font-size: 12px;
   }
   & .test-img{
    width: 35px;
   }
}
}
@media screen and (min-width: 1025px) and (max-width: 1280px) {
/* Experinces */

.exper-container {
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
 
}

.exp-content {
  padding: 10px;
  margin: 20px 40px;
  color: white;
  border-radius: 5px;
}
.exper-heading {
  margin-left: 0px;
  margin-right: 5em;
}
.exper-para {
  color: white;
  margin-right: 0; 
  margin-right: 0;
  margin-left: 0;
  font-size: 14px;
 
}
.exp-item-one {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  & br{
    display: none;
  }
}
.exp-item-two {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  margin-left: 0;
  & br{
    display: none;
  }
}

}